<div id="main">

    <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Who am I ?</h1>
                <p>I'm a Full-Stack Developer with a strong interest in AI and AR/VR. I’m passionate about crafting seamless web solutions and exploring cutting-edge technologies to create innovative digital experiences. Let’s build something extraordinary together.</p>
            </header>
        </section>

    <!-- Table -->
    <div class="table-wrapper">
        <h2>Projects</h2>
        <h3>Software Development</h3>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href='/smma#smma'>Shopping Mall Map App (AR-based Indoor Navigation)</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href='https://portfolio-nine-delta-52.vercel.app/about'>Jacklyn's Portfolio</a></td>
                </tr>
            </tbody>
        </table>
        <h3><a href='/ai#ai'>Artificial Intelligence</a></h3>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href='/ai#breast-cancer'>Breast Cancer Classification</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href='/ai#fire-detection'>Fire Detection</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href='/ai#heart-disease'>Heart Disease Classification</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href='/ai#fruits-vegetables'>Fruits and Vegetables Image Recognition</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href='/ai#bank-market'>Bank Market Prediction</a></td>
                </tr>
            </tbody>
        </table>
        <h3><a href='/ar#ar'>Augmented Reality</a></h3>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href='/ar#ecovista'>EcoVista City</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href='/ar#iNav'>iNav-Marked Based AR Indoor Navigation</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>