<!-- Main -->
<div id="main">

    <!-- Title -->
    <article class="post featured">
        <header class="major">
            <h2>Augmented <br>Reality</h2>
        </header>
    </article>
    <article> 
        <header class="center">
            <h2><a href="https://www.youtube.com/watch?v=z8a6y2IUeVI">EcoVista City</a></h2>
        </header>
        <a href="https://www.youtube.com/watch?v=z8a6y2IUeVI" class="image center"><img src="../../../assets/images/ecovista.PNG" alt="" style="width:600px;height:400px; display: block; margin-left: auto; margin-right: auto;"/></a>
        <ul class="actions small">
            <li><a href="" class="button primary small disabled">Sharp3D</a></li>
            <li><a href="" class="button primary small disabled">Reality Composer</a></li>
        </ul>
        <p>EcoVista City is an urban development project designed in alignment with the Sustainable Development Goals (SDGs), emphasising sustainability, inclusivity, and technological innovation. This visionary initiative introduces a 15-minute city concept, prioritising sustainable mobility, green spaces, mixed-income communities, and advanced technologies like IoT and AI.</p>
        <ul class="actions special">
            <li><a href="https://www.youtube.com/watch?v=z8a6y2IUeVI" class="button">Video</a></li>
        </ul>
    </article>
</div>
<app-navfooter></app-navfooter>

