<!-- Main -->
<div id="main">

    <!-- Title -->
    <article class="post featured" id="ar">
        <header class="major">
            <h2>Augmented <br>Reality</h2>
        </header>
    </article>
    <article id="ecovista"> 
        <header class="center">
            <h2>EcoVista City</h2>
        </header>
        <!-- <a href="https://www.youtube.com/watch?v=z8a6y2IUeVI" class="image center"><img src="./././assets/images/ecovista.PNG" alt="" style="width:600px;height:400px; display: block; margin-left: auto; margin-right: auto;"/></a> -->
        <youtube-player
        [videoId]="id"
        [height]="400"
        [width]="600"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)" class="image center"
      ></youtube-player>
        <ul class="actions small">
            <li><a href="" class="button primary small disabled">Sharp3D</a></li>
            <li><a href="" class="button primary small disabled">Reality Composer</a></li>
        </ul>
        <p>EcoVista City is an urban development project designed in alignment with the Sustainable Development Goals (SDGs), emphasising sustainability, inclusivity, and technological innovation. This visionary initiative introduces a 15-minute city concept, prioritising sustainable mobility, green spaces, mixed-income communities, and advanced technologies like IoT and AI.</p>
    </article>
    <article id="iNav"> 
        <header class="center">
            <h2>iNav</h2>
        </header>
        <!-- <a href="https://www.youtube.com/watch?v=z8a6y2IUeVI" class="image center"><img src="./././assets/images/ecovista.PNG" alt="" style="width:600px;height:400px; display: block; margin-left: auto; margin-right: auto;"/></a> -->
        <youtube-player
        [videoId]="id2"
        [height]="400"
        [width]="600"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)" class="image center"
      ></youtube-player>
        <ul class="actions small">
            <li><a href="" class="button primary small disabled">Unity</a></li>
        </ul>
        <p>iNav is a marker-based AR indoor navigation system designed to guide users through large, complex environments like shopping malls. By leveraging augmented reality, iNav provides clear, real-time directions using visual markers placed throughout the space, ensuring users can easily find their desired locations, vehicles, and emergency exits.</p>
    </article>
</div>
<app-navfooter></app-navfooter>

