<!-- Main -->
<div id="main">

    <!-- Title -->
        <article class="post featured">
            <header class="major">
                <h2>Artificial <br>Intelligence</h2>
            </header>
        </article>

    <!-- Section -->
        <section class="posts">
            <article>
                <header>
                    <h2><a href="https://colab.research.google.com/drive/1Ej0YqgJp1gWjspGfk_DjZW-W3cVZ_q8j?usp=sharing">Breast Cancer Classification</a></h2>
                </header>
                <a href="https://colab.research.google.com/drive/1Ej0YqgJp1gWjspGfk_DjZW-W3cVZ_q8j?usp=sharing" class="image fit"><img src="../../../assets/images/breast-cancer.jpg" alt="" style="width:600px;height:400px;"/></a>
                <ul class="actions small">
                    <li><a href="" class="button primary small disabled">Machine Learning</a></li>
                </ul>
                <p>The project is likely aimed at predicting breast cancer based on a dataset. This involves building and evaluating a machine learning model that can classify or predict whether a given sample is benign or malignant.</p>
                <ul class="actions special">
                    <li><a href="https://colab.research.google.com/drive/1Ej0YqgJp1gWjspGfk_DjZW-W3cVZ_q8j?usp=sharing" class="button">Source Code</a></li>
                </ul>
            </article>
            <article>
                <header>
                    <h2><a href="https://colab.research.google.com/drive/1QyOMtIvnY6ewVPFiJNYT5zbRcxdpI9bE?usp=sharing">Fire<br> Detection</a></h2>
                </header>
                <a href="https://colab.research.google.com/drive/1QyOMtIvnY6ewVPFiJNYT5zbRcxdpI9bE?usp=sharing" class="image fit"><img src="../../../assets/images/fire.jpg" alt="" style="width:600px;height:400px;"/></a>
                <ul class="actions small">
                    <li><a href="" class="button primary small disabled">Computer Vision</a></li>
                    <li><a href="" class="button primary small disabled">Deep Learning</a></li>
                </ul>
                <p>The project aims to develop a model capable of detecting fire in images, which is a crucial application in safety and disaster management. The VGG model, a popular deep learning architecture, is utilized for this task.</p>
                <ul class="actions special">
                    <li><a href="https://colab.research.google.com/drive/1QyOMtIvnY6ewVPFiJNYT5zbRcxdpI9bE?usp=sharing" class="button">Source Code</a></li>
                </ul>
            </article>
            <article>
                <header>
                    <h2><a href="https://colab.research.google.com/drive/1xJcEKAUKg_YrzMndgjt9VaxPnrZmGk8f?usp=sharing">Heart Disease Classification</a></h2>
                </header>
                <a href="https://colab.research.google.com/drive/1xJcEKAUKg_YrzMndgjt9VaxPnrZmGk8f?usp=sharing" class="image fit"><img src="../../../assets/images/Heart_Disease.webp" alt="" style="width:600px;height:400px;"/></a>
                <ul class="actions small">
                    <li><a href="" class="button primary small disabled">Machine Learning</a></li>
                </ul>
                <p>This project classifies heart disease patients using K-Means clustering, with PCA for dimensionality reduction. The model identifies patient groups based on medical data, highlighting the potential of clustering in healthcare for pattern recognition.</p>
                <ul class="actions special">
                    <li><a href="https://colab.research.google.com/drive/1xJcEKAUKg_YrzMndgjt9VaxPnrZmGk8f?usp=sharing" class="button">Source Code</a></li>
                </ul>
            </article>
            <article>
                <header>
                    <h2><a href="https://colab.research.google.com/drive/1AORPw-QqtTqrI2gXtk1CypPiW8k74iZL?usp=sharing">Fruits and Vegetables <br> Image Recognition</a></h2>
                </header>
                <a href="https://colab.research.google.com/drive/1AORPw-QqtTqrI2gXtk1CypPiW8k74iZL?usp=sharing" class="image fit"><img src="../../../assets/images/fruits-and-vegetables.jpg" alt="" style="width:600px;height:400px;"/></a>
                <ul class="actions small">
                    <li><a href="" class="button primary small disabled">Computer Vision</a></li>
                    <li><a href="" class="button primary small disabled">Deep Learning</a></li>
                </ul>
                <p>The project aims to develop a model for image recognition, which involves identifying objects or patterns in images. This is a fundamental task in computer vision with applications ranging from automated tagging in photo libraries to advanced visual search engines.</p>
                <ul class="actions special">
                    <li><a href="https://colab.research.google.com/drive/1AORPw-QqtTqrI2gXtk1CypPiW8k74iZL?usp=sharing" class="button">Source Code</a></li>
                </ul>
            </article>
        </section>
        <article> 
            <header class="center">
                <h2><a href="https://colab.research.google.com/drive/1O3NP75YhaolP-q8V6NyCD_KMpLHt8LBk?usp=sharing">Bank Market Prediction</a></h2>
            </header>
            <a href="https://colab.research.google.com/drive/1O3NP75YhaolP-q8V6NyCD_KMpLHt8LBk?usp=sharing" class="image center"><img src="../../../assets/images/banking.webp" alt="" style="width:600px;height:400px; display: block; margin-left: auto; margin-right: auto;"/></a>
            <ul class="actions small">
                <li><a href="" class="button primary small disabled">Machine Learning</a></li>
            </ul>
            <p>This project builds a prediction model using a Multi-Layer Perceptron (MLP) optimized with Particle Swarm Optimization (PSO). It involves data preprocessing, model training, and hyperparameter tuning using GridSearchCV to enhance performance.</p>
            <ul class="actions special">
                <li><a href="https://colab.research.google.com/drive/1O3NP75YhaolP-q8V6NyCD_KMpLHt8LBk?usp=sharing" class="button">Source Code</a></li>
            </ul>
        </article>
</div>
<app-navfooter></app-navfooter>

