<div id="main">

    <!-- Post -->
        <section class="post">
            <header class="major">
                <h1 id="smma">Shopping Mall <br>Map App</h1>
                <p>An <b>AR-based indoor navigation app</b> designed to enhance the shopping experience by providing real-time directions, store information, and promotional updates within a shopping mall.</p>
            </header>
            <div class="image main"><img src="./././assets/images/sanya-joy-city-Shoping-Centre-competition-1.jpg" alt="" /></div>

            <h3>Key Feature</h3>
            <ul>
                <li><b>AR Indoor Navigation</b><br>
                    Users can navigate the mall using AR overlays, guiding them from one location to another with ease.</li>
                <li><b>Real-Time Store and Promotion Information</b><br>
                    The app delivers up-to-date information on store locations, ongoing promotions, and events, allowing users to make informed decisions on the go.</li>   
                <li><b>Admin Dashboard</b><br>
                    A comprehensive web-based interface for mall administrators to monitor user activity, manage inventory, and analyze popular routes.</li>
                <li><b>Dynamic Routing</b><br>
                    Personalized routes are generated based on the user’s current location and destination, optimizing their shopping experience.</li>
            </ul>
            <h3>Technologies used</h3>
            <ul class="actions">
                <li><a href="" class="button primary disabled">Unity</a></li>
                <li><a href="" class="button primary disabled">Angular</a></li>
                <li><a href="" class="button primary disabled">.Net Core</a></li>
                <li><a href="" class="button primary disabled">MongoDB</a></li>
                <li><a href="" class="button primary disabled">Azure Services</a></li>
                <li><a href="" class="button primary disabled">Vercel</a></li>
            </ul>
            <h3>GitHub Repositories</h3>
            <ul>
                <li><a href="https://github.com/lalalalalala-hi/SMMA-Web">https://github.com/lalalalalala-hi/SMMA-Web</a></li>
                <li><a href="https://github.com/lalalalalala-hi/SMMA-Backend">https://github.com/lalalalalala-hi/SMMA-Backend</a></li>
            </ul>
            <h3>Deployment Links</h3>
            <ul>
                <li><a href="https://smma-eight.vercel.app/login">Admin Website on Vercel</a></li>
                <li><a href="https://smma-ame6hmdmddc6hsc0.koreasouth-01.azurewebsites.net/swagger/index.html">.Net backend on Azure</a></li>
            </ul>
            <h3>Mobile Demo Video</h3>
            <div class="video-container">
                <youtube-player
                    [videoId]="id"
                    [height]="400"
                    [width]="600"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
                ></youtube-player>
            </div>
            <br>
            <h3>Admin Dashboard</h3>
            <!-- <span class="image fit"><img src="./././assets/images/pic01.jpg" alt="" /></span> -->
            <div class="box alt">
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-12"><span class="image fit"><img src="./././assets/images/user statistics.png" alt="" /></span></div>
                    <div class="col-12"><span class="image fit"><img src="./././assets/images/overall store statistics.png" alt="" /></span></div>
                    <div class="col-12"><span class="image fit"><img src="./././assets/images/store statistics.png" alt="" /></span></div>
                    <div class="col-12"><span class="image fit"><img src="./././assets/images/route statistics.png" alt="" /></span></div>
                    <!-- <div class="col-4"><span class="image fit"><img src="./././assets/images/pic03.jpg" alt="" /></span></div>
                    <div class="col-4"><span class="image fit"><img src="./././assets/images/pic03.jpg" alt="" /></span></div>
                    <div class="col-4"><span class="image fit"><img src="./././assets/images/pic04.jpg" alt="" /></span></div>
                    <div class="col-4"><span class="image fit"><img src="./././assets/images/pic02.jpg" alt="" /></span></div> -->
                </div>
            </div>							
              
        </section>

</div>
<app-navfooter></app-navfooter>
